@import "../vars";

.collection {
  &__inner {
    padding: 150px 0;
    text-align: center;
  }
  &__title {
    margin: 0 0 100px 0;
    font-family: $main-font;
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: $accent-dark;
    text-align: center;
  }
  &__btn {
    position: relative;
    margin-top: 103px;
    padding-right: 64px;
  }
  &__btn::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 8px;
    top: 21px;
    right: 35px;
    background-image: url(../../images/Arrow.svg);
    background-position: center;
  }
}
